.cart-widget {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-count {
  background-color: #f39c12;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  right: -10px;
}
