.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.logo-text {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
}

.logo-text:hover {
  color: #f39c12;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #f39c12;
}
